<body class="body">
<h1 class="titulo">Perfil - Tiago Lima</h1>
<mat-grid-list cols="2" rowHeight="2:2" class="gd-cont">
  <mat-grid-tile>
    <div >
    <img class="gd1-logo" src="assets\LOGOCINZA.png" alt="Logo TiagoDevops">
    <div class="gd1-h1-cont">
      <h1 class="gd1-h1">Minha História</h1>
      <p>
        <a class="gd2-desc">Decidi ingressar na universidade para realizar o meu<br>
          sonho de trabalhar com tecnologia e optei pelo curso<br>
          de Ciência da Computação.<br>
          Me tornei especialista em desenvolvimento web com<br>
          Angular e Bootstrap além de outras tecnologias que<br>
          menciono logo abaixo.
        </a><br><br>
        <button mat-flat-button class="button-gd2"></button>
      </p>
    </div>
   </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div >
      <div class="gd2-h1-cont">
        <p>
          <a class="gd2-desc">Decidi ingressar na universidade para realizar o meu<br>
            sonho de trabalhar com tecnologia e optei pelo curso<br>
            de Ciência da Computação.<br>
            Me tornei especialista em desenvolvimento web com<br>
            Angular e Bootstrap além de outras tecnologias que<br>
            menciono logo abaixo.
          </a><br><br>
          <button mat-flat-button class="button-gd2"></button>
        </p>
      </div>
      <img class="gd1-logo" src="assets\LOGOCINZA.png" alt="Logo TiagoDevops">
      <div class="gd2-h1-cont">
        <h1 class="gd2-h1">Minha História</h1>
        <p>
          <a class="gd2-desc">Decidi ingressar na universidade para realizar o meu<br>
            sonho de trabalhar com tecnologia e optei pelo curso<br>
            de Ciência da Computação.<br>
            Me tornei especialista em desenvolvimento web com<br>
            Angular e Bootstrap além de outras tecnologias que<br>
            menciono logo abaixo.
          </a><br><br>
          <button mat-flat-button class="button-gd2"></button>
        </p>
      </div>
     </div>
  </mat-grid-tile>
</mat-grid-list>
</body>

