<body class="body">
<h1 class="titulo">Perfil - Tiago Lima</h1>

<!-- Codigo total do Grid -->
<mat-grid-list cols="2" rowHeight="2:2" class="gd-cont">

  <!-- Codigo do Grid1 -->
  <mat-grid-tile class="grid1-cont">
    <div class="element-grid-cont">
    <img class="gd1-logo" src="assets\LOGOCINZA.png" alt="Logo TiagoDevops">
    <div class="gd1-h1-cont">
      <h1 class="gd1-h1">Minha História</h1>
      <div class="paragrafo-cont">
      <p align="justify" class="gd1-desc1">
        Decidi ingressar na universidade para realizar o meu
          sonho de trabalhar com tecnologia e optei pelo curso
          de Ciência da Computação.<br>
          Me tornei especialista em desenvolvimento web com
          Angular e Bootstrap além de outras tecnologias que
          menciono logo abaixo.
        <br><br>
      <button mat-flat-button class="button-gd2"></button>
      </p>
    </div>
    </div>
   </div>
  </mat-grid-tile>

  <!--Codigo do Grid1 -->
  <mat-grid-tile class="grid2-cont">
    <div class="element-grid2-cont">
      <div class="gd2-h2-cont1">
        <p>
          <a class="gd2-desc1">Decidi ingressar na universidade para realizar o meu
            sonho de trabalhar<br> com tecnologia
            e optei pelo curso de Ciência da Computação.<br> Me tornei
            especialista em desenvolvimento web com<br> Angular e Bootstrap além de outras tecnologias que<br>
            menciono logo abaixo.
          </a>
          <button mat-flat-button class="button-gd2"></button>
        </p>
      </div>
      <img class="gd2-foto" src="assets\FotoTiago.png" alt="Logo TiagoDevops">
      <div class="gd2-h3-cont2">
        <h1 class="gd2-h3">Informações Pessoais</h1>
        <p>
          <a class="gd2-desc2">
          Nome: Tiago Lima<br>
          Ocupação: Desenvolvedor web<br>
          Experiência: 1 Ano<br>
          Email: &nbsp;<a class="link-email" href="mailto:tiagodevops@outlook.com">tiagodevops@outlook.com</a><br>
          Cidade: Rio de Janeiro/RJ
          </a>
          <br><button mat-flat-button class="button-gd2">Vamos Conversar!</button>
        </p>
      </div>
     </div>
  </mat-grid-tile>
</mat-grid-list>
 </body>

