.footer2{
  left: 0;
  bottom: 0;
  width: 100%;
  /* height: 80%; */
  color: white;
  background-color: #000000;
  font-weight: lighter;
  font-size: 15px;
  margin-top: 150px;
}
.RightsReserved{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-left: 50px;
  border-right: 50px;
  padding-bottom: 1rem;
}
.fa fa-facebook{
  padding-left: 30px;
  padding-right: 30px;
}
.SocialIcon{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-left: 50px;
  border-right: 50px;
  padding-bottom: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 23px;
}
.fa-facebook {
  color: white;
}
.fa-twitter{
  color: white;
}
.fa-linkedin{
  color: white;
}
.fa-github{
  color: white;
}


/* .example-spacer {
  flex: 1 1 auto;
}

.help{
  padding-left: 0%;
  margin-top: 20px;
  padding-right: 15px;
  color: white;
  font-size: 13px;
}
.help:hover{
  padding-left: 25%;
  padding-right: 15px;
  color: orangered;
  text-decoration: underline;
  font-size: 13px;
}
.separador1{
  color: white;
  padding-right: 15px;
  margin-top: 20px;
}
.IconMail {
  padding-top: 3px;
  font-size: 16px;
  color: white;
  position: absolute;
}
.SuporteTecnico{
  padding-left: 20px;
  padding-right: 10px;
  margin-top: 20px;
  color: white;
  cursor: pointer;
  font-size: 13px;
}
.SuporteTecnico:hover{
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 0px;
  color: orangered;
  cursor: pointer;
  text-decoration: underline;
} */
