
<!-- Tarja 1 superior -->
<mat-toolbar class="tarja1">
  <div>
  <a class="tarja1texto">COVID-19: consulte a disponibilidade do ensino presencial na sua região. Leia mais</a>
  </div>
</mat-toolbar>

<!-- Tarja 2 superior -->
<mat-toolbar class="tarja2" color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Menu Horizontal  -->
      <div class="menu-1">
         <a mat-button [matMenuTriggerFor]="aboveMenu">Serviços</a>
          <mat-menu #aboveMenu="matMenu" yPosition="above">
          <button mat-menu-item routerLink="cloud">Cloud</button>
          <button mat-menu-item routerLink="criação-de-sistemas">Criação de Sistemas</button>
          <button mat-menu-item routerLink="criação-de-websites">Criação de Sites</button>
        </mat-menu>
      </div>
      <div class="menu-2">
        <a mat-button [matMenuTriggerFor]="belowMenu">Below</a>
         <mat-menu #belowMenu="matMenu" yPosition="below">
         <button mat-menu-item>Item 1</button>
         <button mat-menu-item>Item 2</button>
         </mat-menu>
      </div>
      <div class="menu-3">
        <a mat-button [matMenuTriggerFor]="beforeMenu">Before</a>
         <mat-menu #beforeMenu="matMenu" xPosition="before">
         <button mat-menu-item>Item 1</button>
         <button mat-menu-item>Item 2</button>
         </mat-menu>
      </div>
      <div class="menu-3">
        <a mat-button [matMenuTriggerFor]="afterMenu">Contato</a>
         <mat-menu #afterMenu="matMenu" xPosition="after">
         <button mat-menu-item>Item 1</button>
         <button mat-menu-item>Item 2</button>
         </mat-menu>
      </div>
</mat-toolbar>
<!-- <app-home></app-home> -->
