<div class="alert-cont">
<p *ngFor="let alert of alerts" fxShow fxHide.xs >
      <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
  </p>


<!-- Main menu -->
<div class="main-menu-cont">
<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div class="menuDiv" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign=" center">
    <div fxLayoutAlign=" center">
        <a routerLink="/">
        <img class="imglogo" src="assets\LOGObrancaA1.png"  alt="Logo TiagoDevops">
        </a>
      <div class="menu-topicos" fxShow fxHide.xs>
        <a mat-button [matMenuTriggerFor]="aboveMenu" class="main-menu">Soluções</a>
         <mat-menu #aboveMenu="matMenu" yPosition="above">
         <button mat-menu-item routerLink="criação-de-websites">Analytics/SEO</button>
         <button mat-menu-item routerLink="cloud">Aulas de Inglês</button>
         <button mat-menu-item routerLink="cloud">Cloud</button>
         <button mat-menu-item routerLink="criação-de-websites">Consultoria</button>
         <button mat-menu-item routerLink="criação-de-websites">Deploy(Instalação)</button>
         <button mat-menu-item routerLink="criação-de-websites">Desenvolvimento Web</button>
         <button mat-menu-item routerLink="criação-de-sistemas">Sistemas customizados</button>
       </mat-menu>
     </div>
     <div fxShow fxHide.xs>
       <a mat-button routerLink="insights" class="main-menu">Insights</a>
        <mat-menu #belowMenu="matMenu" yPosition="below">
        </mat-menu>
     </div>
     <div fxShow fxHide.xs>
       <a mat-button [matMenuTriggerFor]="belowMenu" class="main-menu">Below</a>
        <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        </mat-menu>
     </div>
     <div fxShow fxHide.xs>
       <a mat-button [matMenuTriggerFor]="beforeMenu" class="main-menu">Before</a>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        </mat-menu>
     </div>
     <div fxShow fxHide.xs>
       <a mat-button [matMenuTriggerFor]="afterMenu" class="main-menu">Contato</a>
        <mat-menu #afterMenu="matMenu" xPosition="before">
        <button mat-menu-item routerLink="atendimento-ao-cliente">Atendimento ao Cliente</button>
        <button mat-menu-item>Falar com Vendas</button>
        </mat-menu>
     </div>

     <!-- Layout em Extra Small Devices -->
     <div fxHide fxShow.xs>
     <button mat-button [matMenuTriggerFor]="menu">
     <mat-icon>menu</mat-icon></button>
     <mat-menu #menu="matMenu">
      <div class="menu-topicos" >
        <a mat-button [matMenuTriggerFor]="aboveMenu">Soluções</a>
         <mat-menu #aboveMenu="matMenu" yPosition="above">
         <button mat-menu-item routerLink="criação-de-websites">Analytics/SEO</button>
         <button mat-menu-item routerLink="cloud">Aulas de Inglês</button>
         <button mat-menu-item routerLink="cloud">Cloud</button>
         <button mat-menu-item routerLink="criação-de-websites">Consultoria</button>
         <button mat-menu-item routerLink="criação-de-websites">Deploy(Instalação)</button>
         <button mat-menu-item routerLink="criação-de-websites">Desenvolvimento Web</button>
         <button mat-menu-item routerLink="criação-de-sistemas">Sistemas customizados</button>
       </mat-menu>
     </div>
     <div class="menu-topicos" >
       <a mat-button routerLink="insights">Insights</a>
        <mat-menu #belowMenu="matMenu" yPosition="below">
        </mat-menu>
     </div>
     <div class="menu-topicos" >
       <a mat-button [matMenuTriggerFor]="belowMenu">Below</a>
        <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        </mat-menu>
     </div>
     <div class="menu-topicos" >
       <a mat-button [matMenuTriggerFor]="beforeMenu">Before</a>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        </mat-menu>
     </div>
     <div class="menu-topicos" >
       <a mat-button [matMenuTriggerFor]="afterMenu">Contato</a>
        <mat-menu #afterMenu="matMenu" xPosition="before">
        <button mat-menu-item routerLink="atendimento-ao-cliente">Atendimento ao Cliente</button>
        <button mat-menu-item>Falar com Vendas</button>
        </mat-menu>
     </div>
     </mat-menu>
     </div>
    </div>
  </div>
</div>
</div>

</div>
