
<!-- Tarja 1 superior -->
<!--
<mat-toolbar class="tarja1">
  <mat-toolbar-row style="font-size: 1.5rem; height: 10px;">
  <div>
  <p class="tarja1texto">
  Helcome to my Website! Consulte a disponibilidade de serviços na sua região. Leia mais
  </p>
  </div>
  <span class="example-spacer"></span>
  <a class="help">Help</a>
  <a class="separador1">|</a>
  <a><mat-icon class="IconMail">mail</mat-icon></a>
  <a class="SuporteTecnico">Suporte Técnico</a>
</mat-toolbar-row>
</mat-toolbar> -->


<!-- Tarja 2 superior -->

<div class="space"></div>
<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div class="menuDiv" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign=" center">
    <div fxLayoutAlign=" center">
        <a routerLink="/">
        <img class="imglogo" src="assets\LOGObrancaA1.png"  alt="Logo TiagoDevops">
        </a>
      <div class="menu-topicos" fxShow fxHide.xs>
        <a mat-button [matMenuTriggerFor]="aboveMenu">Soluções</a>
         <mat-menu #aboveMenu="matMenu" yPosition="above">
         <button mat-menu-item routerLink="criação-de-websites">Analytics/SEO</button>
         <button mat-menu-item routerLink="cloud">Aulas de Inglês</button>
         <button mat-menu-item routerLink="cloud">Cloud</button>
         <button mat-menu-item routerLink="criação-de-websites">Consultoria</button>
         <button mat-menu-item routerLink="criação-de-websites">Deploy(Instalação)</button>
         <button mat-menu-item routerLink="criação-de-websites">Desenvolvimento Web</button>
         <button mat-menu-item routerLink="criação-de-sistemas">Sistemas customizados</button>
       </mat-menu>
     </div>
     <div class="menu-topicos" fxShow fxHide.xs>
       <a mat-button routerLink="insights">Insights</a>
        <mat-menu #belowMenu="matMenu" yPosition="below">
        </mat-menu>
     </div>
     <div class="menu-topicos" fxShow fxHide.xs>
       <a mat-button [matMenuTriggerFor]="belowMenu">Below</a>
        <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        </mat-menu>
     </div>
     <div class="menu-topicos" fxShow fxHide.xs>
       <a mat-button [matMenuTriggerFor]="beforeMenu">Before</a>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        </mat-menu>
     </div>
     <div class="menu-topicos" fxShow fxHide.xs>
       <a mat-button [matMenuTriggerFor]="afterMenu">Contato</a>
        <mat-menu #afterMenu="matMenu" xPosition="before">
        <button mat-menu-item routerLink="atendimento-ao-cliente">Atendimento ao Cliente</button>
        <button mat-menu-item>Falar com Vendas</button>
        </mat-menu>
     </div>

     <!-- Layout em Extra Small Devices -->
     <div fxHide fxShow.xs>
     <button mat-button [matMenuTriggerFor]="menu">
     <mat-icon>menu</mat-icon></button>
     <mat-menu #menu="matMenu">
      <div class="menu-topicos" >
        <a mat-button [matMenuTriggerFor]="aboveMenu">Soluções</a>
         <mat-menu #aboveMenu="matMenu" yPosition="above">
         <button mat-menu-item routerLink="criação-de-websites">Analytics/SEO</button>
         <button mat-menu-item routerLink="cloud">Aulas de Inglês</button>
         <button mat-menu-item routerLink="cloud">Cloud</button>
         <button mat-menu-item routerLink="criação-de-websites">Consultoria</button>
         <button mat-menu-item routerLink="criação-de-websites">Deploy(Instalação)</button>
         <button mat-menu-item routerLink="criação-de-websites">Desenvolvimento Web</button>
         <button mat-menu-item routerLink="criação-de-sistemas">Sistemas customizados</button>
       </mat-menu>
     </div>
     <div class="menu-topicos" >
       <a mat-button routerLink="insights">Insights</a>
        <mat-menu #belowMenu="matMenu" yPosition="below">
        </mat-menu>
     </div>
     <div class="menu-topicos" >
       <a mat-button [matMenuTriggerFor]="belowMenu">Below</a>
        <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        </mat-menu>
     </div>
     <div class="menu-topicos" >
       <a mat-button [matMenuTriggerFor]="beforeMenu">Before</a>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        </mat-menu>
     </div>
     <div class="menu-topicos" >
       <a mat-button [matMenuTriggerFor]="afterMenu">Contato</a>
        <mat-menu #afterMenu="matMenu" xPosition="before">
        <button mat-menu-item routerLink="atendimento-ao-cliente">Atendimento ao Cliente</button>
        <button mat-menu-item>Falar com Vendas</button>
        </mat-menu>
     </div>
     </mat-menu>
     </div>
    </div>
  </div>
</div>
