.tarja1 {
  background-color: #dedcdc;
  height: 5%;
  width: 100%;
}
.tarja1texto {
  color: rgb(58, 57, 57);
  position: relative;
  font-size: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tarja2 {
  background-color: #57c2fc;
  height: 10%;
  width: 100%;
}
.menu-1{
padding-left: 2%;
}
.menu-2{
  padding-left: 2%;
  }
.menu-3{
padding-left: 2%;
}
.menu-4{
  padding-left: 2%;
  }
