.tarja1{
  background-color: #545454;
  height: 5%;

}
.tarja1texto{
 position: relative;
 font-size: 60%;
 background-color: aqua;
 display: block;
 margin-left: auto;
 margin-right: auto;
 color: blue;
}
