
<mat-toolbar class="tarja1">
  <div>
  <a class="tarja1texto">COVID-19: consulte a disponibilidade do ensino presencial na sua região. Leia mais

  </a>
  </div>
</mat-toolbar>
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>

  <!-- Menu Horizontal  -->
  <a mat-button [matMenuTriggerFor]="aboveMenu">Above</a>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<a mat-button [matMenuTriggerFor]="belowMenu">Below</a>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<a mat-button [matMenuTriggerFor]="beforeMenu">Before</a>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<a mat-button [matMenuTriggerFor]="afterMenu">After</a>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
