<form>
  <div class="form-group">
    <label>Nome*</label>
    <input type="text" placeholder="Coloque um título" required />
  </div>
  <div class="form-group">
    <label>Sobrenome*</label>
    <input type="text" placeholder="Coloque um título" required />
  </div>
  <div class="form-group">
    <label>Email*</label>
    <input type="text" placeholder="" required />
  </div>
  <div class="form-group">
    <label>Empresa</label>
    <input type="text" placeholder=""  />
  </div>
  <div class="form-group">
    <label>Cargo</label>
    <input type="text" placeholder=""  />
  </div>
  <div class="form-group">
    <label>Assunto</label>
    <input type="text" placeholder="" required />
  </div>
  <div class="form-group">
    <label>Mensagem</label>
    <textarea placeholder="" required></textarea>
  </div>
  <div class="form-group">
    <label for="image">Coloque que mais marcou:</label>
    <input type="file">
  </div>
  <input type="submit" value="{{ btnText }}" />
</form>
