.atend-cont {
  margin-top: 150px;
}

h2 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 2.2em;
}
p {
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.em;
}
h2 span {
  color: #dec129;
}
