<body class="body">
  <h1 class="titulo">Projetos recentes usando soluções completamente modernas</h1>
  <div class="gridContainer">
  <mat-grid-list cols="2" rowHeight="2:1" >
    <mat-grid-tile class="gd1">
    <div class="gd1-h1-cont">
      <h1 class="gd1-h1">Development</h1>
      <p>
        <a class="gd1-desc">Acesse para saber tudo sobre cloud e suas vantagens</a><br>
        e evoluir sua empresa com a melhor solução!<br><br>
        <button mat-flat-button class="button-gd1">Descubra Cloud</button>
      </p>
    </div>
    </mat-grid-tile>
    <mat-grid-tile class="gd2">
      <div class="gd2-h1-cont">
        <h1 class="gd2-h1">Operations</h1>
        <p>
          <a class="gd2-desc">Acesse para saber tudo sobre cloud e suas vantagens</a><br>
          e evoluir sua empresa com a melhor solução!<br><br>
          <button mat-flat-button class="button-gd2">Descubra Dev</button>
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="gd3">
      <div class="gd3-h1-cont">
        <h1 class="gd3-h1">Management</h1>
        <p>
          <a class="gd3-desc">Acesse para saber tudo sobre cloud e suas vantagens</a><br>
          e evoluir sua empresa com a melhor solução!<br><br>
          <button mat-flat-button class="button-gd1">Descubra Agile</button>
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="gd4">
      <div class="gd4-h1-cont">
        <h1 class="gd4-h1">Devops</h1>
        <p>
          <a class="gd4-desc">Acesse para saber tudo sobre cloud e suas vantagens</a><br>
          e evoluir sua empresa com a melhor solução!<br><br>
          <button mat-flat-button class="button-gd4">Descubra DevOps</button>
        </p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  </div>
  </body>
